/*
light #e8f4ea	
#e0f0e3	
#d2e7d6	
#c8e1cc
dark #b8d8be
#718e77
#354338
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #353843;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #354338;
  min-width: 450px;
  min-height: 60%;
  padding: 50px;
  border-radius: 40px;
  gap: 20px;
  background-color: #c8e1cc;
  box-shadow: 0 8px 40px rgba(105, 105, 108, 0.15),
    0 8px 40px rgba(105, 105, 108, 0.25);
}

.display {
  height: 120px;
  border: 1px solid #354338;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 60px;
  border-radius: 7px;
  background-color: #e8f4ea;
  box-shadow: 0 0 15px 0 rgba(53, 67, 56, 0.14) inset;
}

.display p {
  text-align: end;
  max-width: 9ch;
  overflow: hidden;
  text-overflow: clip;
}

.pad {
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
  min-width: 75%;
}

.right-column {
  min-width: 25%;
}

.action {
  display: flex;
  min-width: 75%;
}
.action button {
  background-color: #e8f4ea;
  color: #354338;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
}

.operatorsPad {
  display: flex;
  flex-direction: column;
}

.operatorsPad button {
  background-color: #e8f4ea;
  color: #354338;
}

button {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  min-height: 50px;
  font-size: 25px;
  border-radius: 20px;
  border: 1px solid #354338;
  margin: 3px 2px;
  background-color: #718e77;
  color: #e8f4ea;
  box-shadow: 0 2px 8px 0 rgba(53, 67, 56, 0.11),
    0 2px 8px 0 rgba(53, 67, 56, 0.11);
  transition: transform 300ms ease-in-out;
}

button:hover {
  transform: scale(1.02);
}

button:disabled {
  background-color: #9db0a1;
  color: #e8f4ea;
  pointer-events: none;
  border: none;
  box-shadow: none;
}

.footer {
  font-size: 18px;
  color: #354338;
}
